<a href="https://colab.research.google.com/github/Bunyodbekkk/Price_of_Tashkent_Portfolio/blob/main/Portfolio_Machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For portfolio:   Toshkent Shaxri uylrini narxlarini aniqlash

In [1]:
import sklearn
import numpy as np
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/housing_data_08-02-2021.csv')
df.head()

,location,district,rooms,size,level,max_levels,price
0,"город Ташкент, Юнусабадский район, Юнусабад 8-...",Юнусабадский,3,57,4,4,52000
1,"город Ташкент, Яккасарайский район, 1-й тупик ...",Яккасарайский,2,52,4,5,56000
2,"город Ташкент, Чиланзарский район, Чиланзар 2-...",Чиланзарский,2,42,4,4,37000
3,"город Ташкент, Чиланзарский район, Чиланзар 9-...",Чиланзарский,3,65,1,4,49500
4,"город Ташкент, Чиланзарский район, площадь Актепа",Чиланзарский,3,70,3,5,55000

In [3]:
a=df[df['size']=='Площадьземли:1сот']
df=df.drop(a.index)
df['size']=df['size'].astype(float)
b=df[df['price']=='Договорная']
df.drop(b.index,inplace=True)
df['price']=df['price'].astype(float)

In [4]:
x_train=df.drop(['price'],axis=1)
x_num=x_train.drop(['location','district'],axis=1)

In [5]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,StandardScaler

In [6]:
num_pipeline=Pipeline([
                       ('imputer',SimpleImputer(strategy='median')),
                       ('std_scaler',StandardScaler())
])

In [7]:
from sklearn.compose import ColumnTransformer
num_attribs=list(x_num)
cat_attribs=['location','district']

In [8]:
full_pipeline=ColumnTransformer([
                                 ('num',num_pipeline,num_attribs),
                                 ('cat',OneHotEncoder(),cat_attribs)
])

In [9]:
X=df.drop('price',axis=1)
Y=df['price'].copy()
X_prepared=full_pipeline.fit_transform(X)
X_prepared

<7465x1594 sparse matrix of type '<class 'numpy.float64'>'
	with 44790 stored elements in Compressed Sparse Row format>

In [10]:
from sklearn.ensemble import RandomForestRegressor
RF_model=RandomForestRegressor()
RF_model.fit(X_prepared,Y)

RandomForestRegressor()

In [11]:
def D_Result(Result):
  print('Results:',Result)
  print('mean:',Result.mean())
  print('Std.dev:',Result.std())

In [12]:
from sklearn.model_selection import cross_val_score

In [15]:
Results=cross_val_score(RF_model, X_prepared,Y,scoring='neg_mean_squared_error',cv=10)
LR_rmse_results=np.sqrt(-Results)
D_Result(LR_rmse_results)

Results: [  62053.33195967   37500.95712804  188728.83082157   72924.8162448
   27523.3862005    75073.78870487   31099.18301133 1931874.42233945
  162424.45490339  647454.14221069]
mean: 323665.7313524315
Std.dev: 564240.782371289

In [16]:
import joblib
filename='RF_model.jbl'
joblib.dump(RF_model,filename)

['RF_model.jbl']